@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>    
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))'></script>    
    </head>
    <body>
    	<div class="whole-page-wrapper">
	    	@views.html.header.header()

	    	<div class="wrapper">
	    		<div class="content">
	        	@content
	        </div>
	      </div>

	      @views.html.footer.footer()
	      <div class="clear"></div>
      </div>
    </body>
</html>
